mat-card{
    margin-bottom: 1em; 
    font-size: 24px;
   button{
    float:right;
   }
   
   
    .offre-titre{
        font-weight: bold;

    }

    .offre-meta{
        font-size: 16px;
        font-style: italic;
  
      }

    .offre-desc{
        margin-top: 1em;
  
      }



}